<button color=primary mat-flat-button [matMenuTriggerFor]="eventMenu"><span *ngIf="selectedConference">{{selectedConference.conference.title}}</span><span *ngIf="!selectedConference">Select a conference...</span></button>
<mat-menu #eventMenu="matMenu">
  <a mat-menu-item routerLink="event/{{file.replace('.json', '')}}" *ngFor="let file of files" [class.selected]="conferences[file] === selectedConference">{{conferences[file] !== undefined ? conferences[file].conference.title : '(waiting for data)'}}</a>
</mat-menu>
