<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>{{ title }}</span>
  <span class="spanner"></span>
  <current-event></current-event>
  </mat-toolbar-row>
</mat-toolbar>
<video-control [slug]='videoSlug'></video-control>
<router-outlet></router-outlet>
