<mat-card class="largecard">
  <mat-card-title>Welcome to the DebConf video player</mat-card-title>
  <mat-card-content>
    <section class="mat-typography">
      <p>This video player is a frontend to the <a class="mat-primary" href="https://meetings-archive.debian.net/pub/debian-meetings/">Meetings archive</a>, using metadata from the <a color="accent" href="https://salsa.debian.org/debconf-video-team/archive-meta">archive-meta repository</a>. Unfortunately, some recordings in the meetings archive are not yet catalogued in the metadata archive. Assistance is welcome!</p>
      <p>Please note that this video player contains <em>no</em> server-side component. It therefore <em>does not</em> store anything about your behaviour. Privacy matters.</p>
      <p>To get started, please <strong>select an event in the top right corner of the screen</strong></p>
    </section>
  </mat-card-content>
</mat-card>
