.selected {
  font-weight: bold;
  color: accent;
}

button {
  margin: 5px;
}

.searchbox {
  margin: 30px;
  padding: 30px;
}

.selecter {
  margin: 10px;
  display: block;
}

.searchfield {
  min-width: 500px;
  width: 100%;
}
