<mat-card *ngIf="selectedConference" class="searchbox">
  <mat-card-title>Videos recorded at {{ selectedConference.conference.title }}</mat-card-title>
  <mat-card-content>
    <mat-expansion-panel disabled="true" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Videos</mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-raised-button class="video" *ngFor="let video of videos" [class.mat-elevation-z8]="video === selectedVideo" [class.mat-elevation-z0]="video !== selectedVideo" [routerLink]='' [queryParams]="{video: video._slug}">{{ (video.speakers ? speakerstring(video) + ': ' : '') + video.title}}</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filter videos...</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Filter by:</p>
      <mat-checkbox class="selecter" color="primary" [(ngModel)]='filterProperties["title"]'>Title</mat-checkbox>
      <mat-checkbox class="selecter" color="primary" [(ngModel)]='filterProperties["description"]'>Description</mat-checkbox>
      <mat-checkbox class="selecter" color="primary" [(ngModel)]='filterProperties["speaker"]'>Speaker(s)</mat-checkbox>
      <mat-form-field *ngIf="haveFilter" class="searchfield">
        <input matInput placeholder="enter search terms..." type="search" [(ngModel)]="filterString">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
