<mat-card *ngIf="show" class="videocard">
<mat-video *ngIf="htmlVideoFiles.length" class="mat-video" [title]="videoTitle" download="true" [class.dv]="selectedConference.conference.video_formats.default.resolution === '720x576'" [class.wide]="selectedConference.conference.video_formats.default.resolution === '1280x720'" autoplay="true" [time]="startTime">
  <source *ngFor="let video of htmlVideoFiles" [src]="video.src" [type]="video.type">
  <track *ngFor="let track of htmlTracks" [src]="track.src" [kind]="track.kind" [srclang]="track.lang" label="track.language">
</mat-video>
<h2>{{selectedVideo.title}}</h2>
<h3 *ngIf="selectedVideo.subtitle">{{selectedVideo.subtitle}}</h3>
<p *ngIf="!(htmlVideoFiles.length)">This video does not have any HTML-compatible encoding. Please see the download links below.</p>
<p>This video was recorded at <strong>{{ selectedConference.conference.title }}</strong><span *ngIf="selectedConference.conference.location"> in <strong>{{selectedConference.conference.location}}</strong></span></p>
<dl>
  <dt *ngIf="selectedVideo.speakers">Speakers</dt>
  <dd *ngFor="let speaker of selectedVideo.speakers">{{speaker}}</dd>
  <dt *ngIf="selectedVideo.room">Room</dt>
  <dd *ngIf="selectedVideo.room">{{selectedVideo.room}}</dd>
  <dt *ngIf="selectedVideo.start">Started at</dt>
  <dd *ngIf="selectedVideo.start">{{selectedVideo.start | date : 'medium'}}</dd>
  <dt *ngIf="selectedVideo.end">Ended at</dt>
  <dd *ngIf="selectedVideo.end">{{selectedVideo.end | date : 'medium'}}</dd>
  <dt *ngIf="selectedVideo.slides || selectedVideo.files || videoFiles">File downloads</dt>
  <dd *ngIf="selectedVideo.slides || selectedVideo.files || videoFiles">
    <ul>
      <li *ngFor="let slide of slideUrls"><a href="{{slide.src}}">{{slide.title}}</a> (slides)</li>
      <li *ngFor="let file of selectedVideo.files"><a href="{{selectedConference.conference.video_base + '/' + file}}">{{file}}</a> (files related to this talk)</li>
      <li *ngFor="let video of videoFiles"><a href="{{video.src}}">{{video.type}}</a></li>
    </ul>
  </dd>
</dl>
<p *ngIf="selectedVideo.description" [innerHtml]="selectedVideo.description | newlineConvertor"></p>
<p *ngIf="selectedVideo.details_url"><a href="{{selectedVideo.details_url}}">More details about this video</a></p>
</mat-card>
